@model NewsSearch.Models.SearchNewsViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="searchContainer">
    @using (Html.BeginForm())
    {
        <fieldset>
            @Html.TextBoxFor(m => Model.SearchQuery, "", new { @class = "searchNews" })
            <input type="submit" value="search" />
        </fieldset>
    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/searchnews")
    <script type="text/javascript">
        $(function () {
            SN.SearchNews.init();
        });
    </script>
}
