html {
    height: 100%;
}

body {
    height: 100%;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #6b6ba3;
    z-index: 1;
}

.body-content {
    min-height: 100%;
    position: relative;
}

.main-content {
    position: relative;
    padding-bottom: 200px;
}

.main-content > div.container-fluid {
    margin: 0 20px
}

footer {
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #6b6ba3;
    p {
        margin: 60px 60px 0 30px;
        text-align: right;
    }
    p, a, a:visited {
        color: #dedede;
    }
    a:hover {
        color: #0000ff;
    }
}

.container-search {
    padding: 90px 0 30px 0;

    button[type=submit] {
        background-color: #6b6ba3;
        border: 1px solid #6b6ba3;
        color: #dedede;
    }

    button[type=submit]:hover {
        cursor: pointer;
        color: #fbfbfb; 
    }
}

.affix {
    top: 0;
    left: 0;
    margin: 0 !important;
    width: 100%;
    z-index: 999;
}

.affix .container-search {
    margin-top: 4px;
    padding: 14px;
    background-color: #EEEEEE;
}

.affix + .container-fluid {
    padding-top: 160px;
}

.results-news {
    a {
        text-decoration: none;
        color: #4747c3;
    }

    a:hover {
        color: #0000ff;
        text-decoration: underline;
    }

    .newsSubSource {
        display: inline-block;
        margin-top: -5px;
        font-size: x-small;
        font-style: italic;
        a {
            color: #7676c8;
        }
        a:hover {
            color: #1c1c5f;
        }
    }
}


.hidden {
    display: none;
}